@import url('https://rsms.me/inter/inter.css');
@import url("_css/raster.css");
@import url("_css/code.css");

:root {
  --fontSize: 16px;
  --monoFont: ui-monospace, SFMono-Regular, SF Mono, Consolas, Liberation Mono, Menlo, monospace;
}

body {
  max-width: 800px;
  margin: 0 auto;
}

li > p + ul,
li > p + ol {
  margin-top: calc(var(--blockSpacingBottom) * -1);
}
ul > li,
ol > li {
  margin-bottom: 0;
}
